<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="hospital_menu_root" name="Hospital" sequence="7"/>

    <menuitem id="menu_front_desk" name="Actions" parent="hospital_menu_root"/>

    <menuitem 
        id="menu_patients" 
        name="Patients" 
        parent="menu_front_desk" 
        action="action_hospital_patient"
    />

    <menuitem
        id="menu_appointments"
        name= "Appointments"
        parent="menu_front_desk"
        action="action_hospital_appointment"
    />

</odoo>