<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="hospital_menu_root" name="Hospital" sequence="7"/>

    <menuitem id="menu_front_desk" name="Actions" parent="hospital_menu_root"/>
    <menuitem id="menu_front_desk" name="Configurations" parent="hospital_menu_root"/>

    

    <menuitem 
        id="menu_patients" 
        name="Patients" 
        parent="menu_front_desk" 
        action="action_hospital_patient"
    />

    <menuitem
        id="menu_appointments"
        name= "Appointments"
        parent="menu_front_desk"
        action="action_hospital_appointment"
    />

    <menuitem 
        id="menu_patient_tags" 
        name="Patient Tags" 
        parent="menu_front_desk" 
        action="action_hospital_patient_tag"
    />
    <menuitem 
        id="menu_appointment_lines" 
        name="Appointment Lines" 
        parent="menu_front_desk" 
        action="action_hospital_appointment_line"
    />

</odoo>